---
import Birthday from '../components/Birthday.astro'
import Button from '../components/Button.astro'
import Header from '../components/Header.astro'
import Messege from '../components/Messege.astro'
import Project from '../components/Project.astro'
import Skill from '../components/Skill.astro'
import SosialLinks from '../components/SosialLinks.astro'
import MainLayouts from '../layouts/MainLayouts.astro'
---

<MainLayouts title='Profle'>
    <main
        class='max-w-3xl w-screen mx-auto py-1 flex flex-col items-stretch justify-center'>
        <Header />
        <SosialLinks />
        <Birthday />
        <Messege />
        <Button />
        <Project />
        <Skill />
    </main>
</MainLayouts>
