---
---

<div class='w-full max-w-sm rounded m-auto mt-5 flex flex-col'>
    <div
        class='mx-8 shadow rounded-lg h-12 mt-4 gap-2 bg-slate-700 flex p-1 text-slate-300 relative items-center'>
        <div class='w-full h-full rounded-lg flex justify-center'>
            <button
                class='w-full rounded-lg cursor-pointer hover:bg-slate-500 focus:bg-slate-500 bg-slate-500 text-slate-800'
                data-target='#project'>Project</button
            >
        </div>
        <div class='w-full h-full rounded-lg flex justify-center'>
            <button
                class='w-full rounded-lg cursor-pointer hover:bg-slate-500 focus:bg-slate-500 focus:text-slate-800'
                data-target='#skill'>Skill</button
            >
        </div>
    </div>
</div>
