---
---

<footer
    class='mt-10 py-4 bg-gray-200 space-y-4 text-gray-600 text-center sm:-mb-8 rounded-md'>
    <p class='text-xs'>
        Copyrights &copy; <span id='copyright'></span> | all rights reserved
    </p>
</footer>
<script>
    import '../js/footer.js'
</script>
