---
import sosialLinks from '../data/sosialLinks'
---

<div class='flex text-slate-800 flex-col items-center mt-16'>
    <h1 class='text-2xl font-semibold'>Zainur Romzy</h1>
    <p>Collage Student</p>
    <ul class='w-[100px] h-[35px] mt-4 flex justify-between'>
        {
            sosialLinks.map((link) => (
                <li>
                    <a href={link.url} class='text-2xl'>
                        <i class={link.icon} />
                    </a>
                </li>
            ))
        }
    </ul>
</div>
